h1 {
  text-decoration: underline;
}

.estilo-img {
  border: 1px solid transparent;
  border-radius: 50%;
}
.estilo-div {
  border: 1px solid rgb(206, 206, 206);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.estilo-div-span {
  display: flex;
  flex-direction: column;
}
